<!DOCTYPE html>
<html>
<head>
    <title>Vue Test</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Vue Start</h1>

<div id="app">
    {{ message }}
</div>
<hr>

<div id="counter">
    <h1>{{message}}</h1>
    <h2>Counter: {{counter}}</h2>
    <h3>Result : {{result}}</h3>
    <button v-on:click="increase">Increase</button>
    <button v-on:click="decrease">Decrease</button>
</div>
<hr>
<div id="box">
    <div
            class="demo"
            @click="attachRed = !attachRed"
            :class="divClasses"
    ></div>
    <div class="demo" :class="{red: attachRed}"></div>
    <div class="demo" :style="{backgroundColor: color}"></div>
    <div class="demo" :style="myStyle"></div>
    <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
    <div class="demo" :class="[color, {red: attachRed}]"></div>
    <hr>
    <input type="text" v-model="color">
    <input type="text" v-model="width">
</div>
<hr>
<div id="show">
    <h1 v-if='show'>Show the message</h1>
    <h1 v-else='show'>Now You see me</h1>
    <template v-if="show">
    <h3>Inside a template</h3>
    </template>
    <h2>Do You show the message??</h2>
    <button @click="show = !show">Switch</button>
</>

<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>
